CMakeFiles
Makefile
*.cmake
CMakeCache.txt
*.swp
results.csv

bin
data
tmp
*.hi
*.o

.RData
.Rhistory

extra/verslag.aux
extra/verslag.log
extra/verslag.pdf
extra/verslag.toc

tests/generate-text
tests/generate-text-and-matches
tests/verify-matches
tests/worst-case
tests/pipe-diff
