CMakeFiles
Makefile
*.cmake
CMakeCache.txt
*.swp
results.csv

bin
data
tmp
*.hi
*.o

.RData
.Rhistory

extra/verslag.aux
extra/verslag.log
extra/verslag.pdf
extra/verslag.toc

util/generate-text
util/generate-text-and-matches
util/verify-matches
util/worst-case
util/pipe-diff
